@use "../../variables" as*;

.homeworks, 
.supplies{
    width: 90%;
    border: 2px solid $border-color;
    border-radius: 10px;
    margin: 5px;
    padding: 2px;
}

.section__title {
    font-family: $title-font;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: $text-color;
}

.border{
    border: 2px solid grey;
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
}

.title {
   text-decoration: underline;
   color: $color-title;
}

// TABULKA 

@mixin tables ($color) {
    border-radius: 10px;
    box-shadow: 0 5px 14px 2px rgba(0, 0, 0, 0.15);
    background-color: #40A838;
    color: $color;
    padding: 5px;
    margin: 2px;
    font-size: 0.8rem;
    text-align: center; 
}


.table-title{ 
    @include tables(white);
}

.table {
     @include tables(whitesmoke);     
}

.table_check {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 5px 14px 2px rgba(0, 0, 0, 0.15);
    background-color: #40A838;
    padding-block:10px;
    padding-inline: 25px;
    margin: 2px;
    margin-left: 15px;
    color: whitesmoke; 
   }

//  TLACITKA

.button {
    @include tables(darkblue)
}

@media(min-width:640px) and (max-width: 979px) {

.border{
    margin: 5px;
    padding: 5px;
}

.table-title,
.table,
.button { 
    margin: 10px;
    padding: 8px;
    font-size: 1.1rem;
    }
}

@media(min-width: 980px) {
.homeworks, 
.supplies {
    width: 50%;
   }

.border {
    margin: 10px;
    padding: 6px;
}

.table-title,
.table,
.button { 
      font-size: 1.1rem;
    }


}
