@use "../../variables" as*;

.homeworks, 
.supplies{
    width: 50%;
    border: 2px solid $border-color;
    border-radius: 10px;
    margin: 5px;
    padding: 2px;
}

.section__title {
     font-family: $title-font;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    color: $text-color;
}

.border{
    border: 2px solid grey;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;

}

.title {
   text-decoration: underline;
   color: $color-title;
}

// TABULKA 

@mixin tables ($color) {
    border-radius: 10px;
    box-shadow: 0 5px 14px 2px rgba(0, 0, 0, 0.15);
    background-color: #40A838;
    color: $color;
    padding: 10px;
    margin: 5px;
}


.table-title{ 
    @include tables(white);
}

.table {
     @include tables(whitesmoke);  
   
}

//  TLACITKA

.button {
    @include tables(darkblue)
}