@use "../../variables" as*;

.header__title {
    font-family: $logo-font;
    margin: 10px;
    font-size: 3rem;
    font-weight: 700;
    color: $text-color;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

.header__menu {
    margin: 10px;
    padding: 10px;
    color: whitesmoke;
    border: 2px solid currentColor ;
}