@use "variables" as*;


html { box-sizing: border-box; }
*, ::before, ::after {box-sizing: inherit;}

 body {
    margin: 0;
    padding: 0;
    background-color: green;
    font-optical-sizing: auto;
    font-family: $title-font;
 }

  .container {
   max-width: 979px;
     margin: 0 auto;
    display: flex;
    flex-direction: column;
   align-items: center;
    }

 @media(min-width: 980px) {
   .container {
      max-width: 1200px;
    margin: 0 auto;
   flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }
 }


