html { box-sizing: border-box; }
*, ::before, ::after {box-sizing: inherit;}

 body {
    margin: 0;
    padding: 0;
    background-color: green;
    font-optical-sizing: auto;
 }

 .container {
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
